* {
  margin: 0px;
  padding: 0px;
}

.s7_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s7_2 {
  position: absolute;
  left: 751px;
  top: 355px;
  width: 197px;
  height: 297px;
  animation: zoomIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s7_3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}