* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.option1 {
	position: absolute;
  left: 280px;
  top: 200px;
  width: 465px;
  height: 75px;
  	animation: bounceIn 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.option2 {
	position: absolute;
  left: 280px;
  top: 294px;
  width: 465px;
  height: 75px;
    animation: bounceIn 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.option3 {
	position: absolute;
  left: 280px;
  top: 388px;
  width: 465px;
  height: 75px;
    animation: bounceIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 10;
}

.option4 {
	position: absolute;
  left: 280px;
  top: 481px;
  width: 465px;
  height: 75px;
    animation: bounceIn 0.3s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	z-index: 10;
}

.hit_yes {
	position: absolute;
  left: 215px;
  top: 279px;
  width: 276px;
  height: 113px;
    animation: bounceIn 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.hit_no {
	position: absolute;
  left: 534px;
  top: 278px;
  width: 276px;
  height: 113px;
    animation: bounceIn 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.fadeHalf {
  	animation: fadeHalf 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes fadeHalf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}