* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 670px;
	z-index:5;
}

.button1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 999;
}

.button2 {
	position: absolute;
  left: 318px;
  top: 65px;
  width: 377px;
  height: 556px;
	display: none;
	animation: slideInDown 0.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 999;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 670px;
	display: none;
	z-index:10;
}

.hand {
	position: absolute;
  left: 711px;
  top: 304px;
  width: 65px;
  height: 46px;
	display: none;
	animation: leftRight 1s infinite linear;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 20;
}

.text {
	position: absolute;
  left: 793px;
  top: 286px;
  width: 161px;
  height: 110px;
	display: none;
	animation: fadeInRight 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 20;
}


@keyframes leftRight {
  from {
	left: 711px;
    opacity: 1;
  }

 50% {
	left: 700px;
    opacity: 1;
  }
 to {
	left: 711px;
    opacity: 1;
  }
}